// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.navbar-laravel {
    background-color: #fff;
    background: linear-gradient(to left, #00ffff -1%, #ff99cc 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
